<!DOCTYPE html>
<html>

<head>
	<title>S3 GUI Bucket</title>
	<link rel='stylesheet' href='/style/style.css' />
	<!-- <link rel="stylesheet" href="https://bootswatch.com/united/bootstrap.min.css"> -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
	<!--<script src="https://unpkg.com/react@15/dist/react.js"></script>-->
	<!--<script src="https://unpkg.com/react-dom@15/dist/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0-alpha1/JSXTransformer.js"></script>-->
</head>

<body>
	<div class="navbar-a">
		<span class="logo">Bucket</span>
        <form class="fileForm" action="/s3/file" method="post" enctype="multipart/form-data">
        <a href="/"><span class="behavior-button default" class="createBucket"> < all buckets</span></a>
            <label for="file-upload-btn" class="behavior-button action" class="file-uploader">upload</label>
            <input class="file-upload-btn" id="file-upload-btn" name="newFile" type="file"/>
            <!--<span class="behavior-button default" class="createBucket" onclick="createABucket()">new folder</span>-->
            <span class="behavior-button default" class="createBucket" onclick="deleteFolder()">delete this bucket</span>
        </form>
	</div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="title">Files</h1>
                <!--<div class="fileList">
                    <div class="col-xs-6 col-md-3 fileItem template">
                        <a href="#" class="thumbnail">
                            <img class="imageURL">
                        </a>
                    </div>
                </div>-->
                <div class="fileList">
                    <div class="panel panel-default fileItem template">
                        <div class="panel-body">
                            <span class="filename"></span>
                            <span class="filenum"></span>
                            <span class="arrow"><i class="fa fa-smile-o"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!--<script src="/js/jquery.min.js"></script>-->
	<script src="/js/bucket.js"></script>
</body>

</html>